# silly macOS
.DS_Store

# build files
build/
/.vs
/UnscentedKF.vcxproj.filters
/UnscentedKF.vcxproj
/UnscentedKF.sln
/x64/Debug
/UnscentedKF.vcxproj.user
/out_data
/.ipynb_checkpoints/EKF_Graph_Vis-checkpoint.ipynb
